body
{
	font-size: 16pt;
}

.magma
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: .5em;
	padding-bottom: .5em;
	border-bottom: 4pt solid #c0c0c0;

}

.operator th, .operator tr
{

	font-size: 16pt;
}

.elements
{
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0 0 .5em 0;
	display: flex;
}

.operator th, .operator tr, .elements li
{
	padding: 0;
	text-align: center;
	height:1em;
	min-width:1em;
}

